Create database [DbTask]
go
USE [DbTask]
GO
/****** Object:  Table [dbo].[CentralCusto]    Script Date: 04/09/2026 16:42:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralCusto](
	[CentralId] [int] IDENTITY(1,1) NOT NULL,
	[NomeCusto] [varchar](250) NOT NULL,
	[ValorAnualMeta] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_CentralCusto] PRIMARY KEY CLUSTERED 
(
	[CentralId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 04/09/2026 16:42:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Sigla] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 04/09/2026 16:42:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Cargo] [varchar](50) NOT NULL,
	[DepartamentoId] [int] NOT NULL,
	[codigoGerente] [int] NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidente]    Script Date: 04/09/2026 16:42:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidente](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[DescricaoProblema] [varchar](250) NOT NULL,
	[DataIncidente] [datetime] NOT NULL,
	[Solucao] [varchar](250) NULL,
	[Resolvido] [varchar](3) NOT NULL,
 CONSTRAINT [PK_Incidente] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarefa]    Script Date: 04/09/2026 16:42:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
	[DataPlanejada] [datetime] NOT NULL,
	[DataIniciada] [datetime] NULL,
	[DataFinalizada] [datetime] NULL,
	[DataCancelada] [datetime] NULL,
	[StatusTarefa] [varchar](30) NOT NULL,
	[Prazo] [varchar](20) NOT NULL,
	[FuncionarioId] [int] NOT NULL,
 CONSTRAINT [PK_Tarefa] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CentralCusto] ON 

INSERT [dbo].[CentralCusto] ([CentralId], [NomeCusto], [ValorAnualMeta]) VALUES (2, N'Claude ia', CAST(250.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CentralCusto] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([Codigo], [Nome], [Sigla]) VALUES (1, N'Tecnologia da Informacao', N'TI')
INSERT [dbo].[Departamento] ([Codigo], [Nome], [Sigla]) VALUES (2, N'Recursos Humanos', N'RH')
INSERT [dbo].[Departamento] ([Codigo], [Nome], [Sigla]) VALUES (3, N'Financeiro', N'FIN')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Funcionario] ON 

INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [DepartamentoId], [codigoGerente]) VALUES (1, N'Carlos Silva', N'Desenvolvedor Senior', 1, NULL)
INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [DepartamentoId], [codigoGerente]) VALUES (2, N'Ana Oliveira', N'Analista de QA', 1, NULL)
INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [DepartamentoId], [codigoGerente]) VALUES (4, N'Flávia', N'Engenheira ', 1, 2)
SET IDENTITY_INSERT [dbo].[Funcionario] OFF
GO
SET IDENTITY_INSERT [dbo].[Incidente] ON 

INSERT [dbo].[Incidente] ([Codigo], [DescricaoProblema], [DataIncidente], [Solucao], [Resolvido]) VALUES (1, N'Manoel tocou violão', CAST(N'2026-09-04T15:28:00.000' AS DateTime), N'Ele tocar mais', N'sim')
SET IDENTITY_INSERT [dbo].[Incidente] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarefa] ON 

INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (1, N'Criar tela de Login', CAST(N'2026-10-08T00:00:00.000' AS DateTime), CAST(N'2026-01-08T00:00:00.000' AS DateTime), NULL, NULL, N'Em Andamento', N'Em dia', 1)
INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (2, N'Homologar Release 1.0', CAST(N'2026-05-08T00:00:00.000' AS DateTime), NULL, NULL, NULL, N'Pendente', N'Em atraso', 2)
INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (3, N'fazer a estilização', CAST(N'2026-09-04T09:21:00.000' AS DateTime), CAST(N'2026-09-04T09:10:00.000' AS DateTime), CAST(N'2026-09-06T11:00:00.000' AS DateTime), NULL, N'Em andamento', N'Até hj', 2)
SET IDENTITY_INSERT [dbo].[Tarefa] OFF
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Departamento] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamento] ([Codigo])
GO
ALTER TABLE [dbo].[Funcionario] CHECK CONSTRAINT [FK_Funcionario_Departamento]
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Gerente] FOREIGN KEY([codigoGerente])
REFERENCES [dbo].[Funcionario] ([Codigo])
GO
ALTER TABLE [dbo].[Funcionario] CHECK CONSTRAINT [FK_Funcionario_Gerente]
GO
ALTER TABLE [dbo].[Tarefa]  WITH CHECK ADD  CONSTRAINT [FK_Tarefa_Funcionario] FOREIGN KEY([FuncionarioId])
REFERENCES [dbo].[Funcionario] ([Codigo])
GO
ALTER TABLE [dbo].[Tarefa] CHECK CONSTRAINT [FK_Tarefa_Funcionario]
GO
